<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.langnatech.logging.dao.IPCheckLogDao">
	<resultMap id="BaseResultMap" type="IPCheckLogEntity">
		<!--<id column="LOG_ID" property="logId" jdbcType="VARCHAR" />-->
		<result column="IP_ADDRESS" property="ipAddress" jdbcType="VARCHAR" />
		<result column="SUBNET_ID" property="subnetId" jdbcType="VARCHAR" />
		<result column="CITY_ID" property="cityId" jdbcType="VARCHAR" />
		<result column="POOL_ID" property="poolId" jdbcType="VARCHAR" />
		<result column="IP_STATUS" property="ipStatus" jdbcType="SMALLINT" />
		<result column="WARN_TYPE" property="warnType" jdbcType="SMALLINT" />
		<result column="CHECK_CITY" property="checkCity" jdbcType="VARCHAR" />
		<result column="CHECK_DEV" property="checkDev" jdbcType="VARCHAR" />
		<result column="CHECK_TIME" property="checkTime" jdbcType="TIMESTAMP" />
		<result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
		<result column="POOL_NAME" property="poolName" jdbcType="VARCHAR" />
		<result column="SUBNET_NAME" property="subnetName" jdbcType="VARCHAR" />
		<result column="CHECK_CITY_NAME" property="checkCityName" jdbcType="VARCHAR" />
		<result column="CHECK_DEV_NAME" property="checkDevName" jdbcType="VARCHAR" />
	</resultMap>
	
	
	<select id="selectCountData" resultType="java.util.Map">
		SELECT WARN_TYPE,COUNT(1) AS NUM FROM ip_check_log GROUP BY WARN_TYPE ORDER BY	WARN_TYPE
	</select>
	
	<select id="selectLogsByCond" parameterType="IPCheckLogEntity"
		resultMap="BaseResultMap">
		select T1.*,T2.POOL_NAME,T3.CITY_NAME,T4.SUBNET_DESC AS SUBNET_NAME,
		T5.CITY_NAME AS CHECK_CITY_NAME,T6.DEVICE_TYPE_NAME AS CHECK_DEV_NAME 
		from ip_check_log T1
		left outer
		join ip_pool_conf T2
		on T1.POOL_ID=T2.POOL_ID
		left outer join
		ip_dim_city T3
		on T1.CITY_ID=T3.CITY_ID
		left outer join
		ip_subnet_res T4
		on T1.SUBNET_ID=T4.SUBNET_ID
		left outer join
		ip_dim_city T5
		on T1.CHECK_CITY=T5.CITY_ID
		left outer join
		ip_dim_device_type T6
		on T1.CHECK_DEV=T6.DEVICE_TYPE_ID
		where 1=1
		<if test="ipCheckLog.warnType!=null and ipCheckLog.warnType!='-1'">
			AND T1.WARN_TYPE=#{ipCheckLog.warnType}
		</if>
		<if
			test="ipCheckLog.cityId!=null and ipCheckLog.cityId!='' and ipCheckLog.cityId!='-1'">
			AND T1.CITY_ID=#{ipCheckLog.cityId}
		</if>
		<if
			test="ipCheckLog.poolId!=null and ipCheckLog.poolId!='' and ipCheckLog.poolId!='-1'">
			AND T1.POOL_ID=#{ipCheckLog.poolId}
		</if>
		order by T1.CHECK_TIME desc
	</select>
	
	<insert id="insert" parameterType="IPCheckLogEntity">
		INSERT INTO IP_OPERATE_LOG
		(IP_ADDRESS,SUBNET_ID,CITY_ID,POOL_ID,IP_STATUS,WARN_TYPE,CHECK_CITY,CHECK_DEV,CHECK_TIME)
		values
		(#{ipAddress,jdbcType=VARCHAR},
		#{subnetId,jdbcType=VARCHAR},
        #{cityId,jdbcType=VARCHAR},
        #{poolId,jdbcType=VARCHAR},
        #{ipStatus,jdbcType=SMALLINT},
        #{warnType,jdbcType=SMALLINT},
		#{checkCity,jdbcType=VARCHAR},
		#{checkDev,jdbcType=VARCHAR},
		#{checkTime,jdbcType=TIMESTAMP})
	</insert>

	<insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO IP_OPERATE_LOG
		(IP_ADDRESS,SUBNET_ID,CITY_ID,POOL_ID,IP_STATUS,WARN_TYPE,CHECK_CITY,CHECK_DEV,CHECK_TIME) values
		<foreach collection="loglist" item="item" index="index" separator=",">
			(#{item.ipAddress,jdbcType=VARCHAR},
			#{item.subnetId,jdbcType=VARCHAR},
	        #{item.cityId,jdbcType=VARCHAR},
	        #{item.poolId,jdbcType=VARCHAR},
	        #{item.ipStatus,jdbcType=SMALLINT},
	        #{item.warnType,jdbcType=SMALLINT},
			#{item.checkCity,jdbcType=VARCHAR},
			#{item.checkDev,jdbcType=VARCHAR},
			#{item.checkTime,jdbcType=TIMESTAMP})
		</foreach>
	</insert>
	
</mapper>