<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.langnatech.ipms.dao.IPPoolDao">
	<!--查询IP地址池树（按地址池查看）-->
	<select id="selectIPPoolTreeByPool" parameterType="java.lang.String" resultType="map">
		(SELECT 
		  POOL_ID AS ID,
		  POOL_NAME AS NAME,
		  POOL_PID AS PID,
		  'P' AS TYPE,
		  SORT_INDEX 
		FROM
		  ${SCHEMA_BASE}.IP_POOL_CONF 
		WHERE IS_VALID = 1) 
		UNION
		(SELECT 
		  CONCAT(A.POOL_ID, '-', B.CITY_ID) AS ID,
		  CONCAT(B.CITY_NAME, '-地址池') AS NAME,
		  A.POOL_ID AS PID,
		  'PC' AS TYPE,
		  B.SORT_INDEX + 1000 
		FROM
		  ${SCHEMA_BASE}.IP_POOL_CONF A,
		  ${SCHEMA_BASE}.IP_DIM_CITY B 
		WHERE A.IS_PLAN_CITY = 1 
		  AND A.IS_VALID = 1 
		  AND B.IS_VALID = 1 
		  AND B.CITY_ID != '999') 
		UNION
		(SELECT 
			  A.SUBNET_ID AS ID,
			  A.SUBNET_DESC AS NAME,
			  (
			    CASE
			      WHEN (A.CITY_ID IS NULL 
			        OR A.CITY_ID = '-1') 
			      THEN A.POOL_ID 
			      ELSE CONCAT(A.POOL_ID, '-', A.CITY_ID) 
			    END
			  ) AS PID,
			  'S' AS TYPE,
			  1 AS SORT_INDEX
			FROM
			  ${SCHEMA_BASE}.IP_SUBNET_RES A 
			WHERE A.PLAN_STATUS = 3 
		) 
		ORDER BY TYPE, SORT_INDEX,NAME 
	</select>
	<!--查询IP地址池树（按地市查看）-->
	<select id="selectIPPoolTreeByCity" parameterType="java.lang.String" resultType="map">
		(SELECT 
		  POOL_ID AS ID,
		  POOL_NAME AS NAME,
		  '999' AS PID,
		  'P' AS TYPE,
		  SORT_INDEX 
		FROM
		  ${SCHEMA_BASE}.IP_POOL_CONF 
		WHERE IS_PLAN_CITY = - 1 
		  AND IS_VALID = 1) 
		UNION
		(SELECT 
		  CITY_ID AS ID,
		  CONCAT(CITY_NAME, '-地址池') AS NAME,
		  '-9' AS PID,
		  'C' AS TYPE,
		  SORT_INDEX + 100 
		FROM
		  ${SCHEMA_BASE}.IP_DIM_CITY 
		WHERE IS_VALID = 1) 
		UNION
		(SELECT 
		  CONCAT(A.POOL_ID, '-', B.CITY_ID) AS ID,
		  A.POOL_NAME AS NAME,
		  B.CITY_ID AS PID,
		  'PC' AS TYPE,
		  A.SORT_INDEX + 1000 
		FROM
		  ${SCHEMA_BASE}.IP_POOL_CONF A,
		  ${SCHEMA_BASE}.IP_DIM_CITY B 
		WHERE A.IS_PLAN_CITY = 1 
		  AND A.IS_VALID = 1 
		  AND B.IS_VALID = 1 
		  AND B.CITY_ID != '999') 
		UNION
		(SELECT 
			  A.SUBNET_ID AS ID,
			  A.SUBNET_DESC AS NAME,
			  (
			    CASE
			      WHEN (A.CITY_ID IS NULL 
			        OR A.CITY_ID = '-1') 
			      THEN A.POOL_ID 
			      ELSE CONCAT(A.POOL_ID, '-', A.CITY_ID) 
			    END
			  ) AS PID ,
			  'S' AS TYPE,
			  1 AS SORT_INDEX
			FROM
			  ${SCHEMA_BASE}.IP_SUBNET_RES A 
			WHERE A.PLAN_STATUS = 3 
		)
		ORDER BY TYPE, SORT_INDEX,NAME 
	</select>
	<!--查询IP地址池概况信息（展示子地址池）-->
	<select id="selectSubPoolStatByPool" parameterType="java.lang.String" resultType="map">
		<![CDATA[
			(SELECT  T1.POOL_ID,
				T1.POOL_NAME,
				T1.SORT_INDEX,
				IFNULL(SUM(T2.IP_COUNT),0) AS IP_COUNT,
				IFNULL(SUM(T2.KEEP_COUNT),0) AS KEEP_COUNT ,
				IFNULL(SUM(T2.USE_COUNT),0) AS USE_COUNT
			FROM ${SCHEMA_BASE}.IP_POOL_CONF T1
			LEFT OUTER JOIN 
			(SELECT 
			  A.POOL_ID,C.LFT,C.RGT,
			  SUM(B.IP_COUNT) AS IP_COUNT,
			  SUM(
			    CASE
			      WHEN B.USE_STATUS = 3 
			      THEN B.IP_COUNT 
			      ELSE 0 
			    END
			  ) AS KEEP_COUNT,
			  SUM(
			    CASE
			      WHEN B.USE_STATUS = 2 
			      THEN B.IP_COUNT 
			      ELSE 0 
			    END
			  ) AS USE_COUNT 
			FROM
			  ${SCHEMA_BASE}.IP_SUBNET_RES AS A
			  INNER JOIN  ${SCHEMA_BASE}.IP_SUBNET_RES AS B
			  ON A.BEGIN_IP_DECIMAL <= B.BEGIN_IP_DECIMAL 
			  AND A.END_IP_DECIMAL >= B.END_IP_DECIMAL
			  LEFT OUTER JOIN ${SCHEMA_BASE}.IP_POOL_CONF AS C
			  ON A.POOL_ID=C.POOL_ID
			WHERE  A.PLAN_STATUS>1
			GROUP BY A.POOL_ID,C.LFT,C.RGT
			) T2
			ON T1.LFT<=T2.LFT AND T1.RGT>=T2.RGT
			WHERE T1.POOL_PID=#{poolId}
			GROUP BY T1.POOL_ID,T1.POOL_NAME,SORT_INDEX)
			UNION
			(SELECT CONCAT('-',#{poolId}) AS POOL_ID,'待分配' AS POOL_NAME,999 AS SORT_INDEX,
				IFNULL(SUM(T.IP_COUNT),0) AS IP_COUNT,0,0
			FROM ${SCHEMA_BASE}.IP_SUBNET_RES T
		]]> WHERE
			<if test="poolId !=-9">
				T.PLAN_STATUS='2' AND T.POOL_ID=#{poolId})
    		</if>
			<if test="poolId == -9">
				T.PLAN_STATUS='1')
    		</if>
			ORDER BY SORT_INDEX		
	</select>
	<!--查询IP地址池概况信息（地址池下展示地市）-->
	<select id="selectCitySubPoolStatByPool" parameterType="java.lang.String" resultType="map">
		<![CDATA[
			SELECT T1.CITY_ID,T1.CITY_NAME,
				IFNULL(T2.IP_COUNT,0) AS IP_COUNT,
				IFNULL(T2.KEEP_COUNT,0) AS KEEP_COUNT,
				IFNULL(T2.USE_COUNT,0) AS USE_COUNT
			FROM ${SCHEMA_BASE}.IP_DIM_CITY T1
			LEFT OUTER JOIN (
			SELECT 
			      A.CITY_ID,
			      SUM(B.IP_COUNT) AS IP_COUNT,
			      SUM(
			        CASE
			          WHEN B.USE_STATUS = 3 
			          THEN B.IP_COUNT 
			          ELSE 0 
			        END
			      ) AS KEEP_COUNT,
			      SUM(
			        CASE
			          WHEN B.USE_STATUS = 2 
			          THEN B.IP_COUNT 
			          ELSE 0 
			        END
			      ) AS USE_COUNT 
			    FROM
			      ${SCHEMA_BASE}.IP_SUBNET_RES AS A 
			      INNER JOIN ${SCHEMA_BASE}.IP_SUBNET_RES AS B 
			        ON A.BEGIN_IP_DECIMAL <= B.BEGIN_IP_DECIMAL 
			        AND A.END_IP_DECIMAL >= B.END_IP_DECIMAL
			]]>	        
		    WHERE A.PLAN_STATUS =3 AND A.POOL_ID=#{poolId}
		    GROUP BY A.CITY_ID
		    ) T2
		 ON T1.CITY_ID=T2.CITY_ID
		 WHERE T1.IS_VALID=1 AND T1.CITY_ID!='999'
		 ORDER BY T1.SORT_INDEX
	</select>
	<!--查询IP地址池概况信息（地址池下展示子网）-->
	<select id="selectSubnetStatByPool" parameterType="java.lang.String" resultType="map">
	<![CDATA[	
		SELECT 
		  A.SUBNET_ID,
		  A.SUBNET_DESC,
		  A.NETMASK,
		  A.BEGIN_IP,
		  A.END_IP,
		  IFNULL(SUM(B.IP_COUNT),0) AS IP_COUNT,
		  IFNULL(SUM(
		    CASE
		      WHEN B.USE_STATUS = 3 
		      THEN B.IP_COUNT 
		      ELSE 0 
		    END
		  ),0) AS KEEP_COUNT,
		  IFNULL(SUM(
		    CASE
		      WHEN B.USE_STATUS = 2 
		      THEN B.IP_COUNT 
		      ELSE 0 
		    END
		  ),0) AS USE_COUNT 
		FROM
		  ${SCHEMA_BASE}.IP_SUBNET_RES AS A 
		  INNER JOIN ${SCHEMA_BASE}.IP_SUBNET_RES AS B 
		    ON A.BEGIN_IP_DECIMAL <= B.BEGIN_IP_DECIMAL 
		    AND A.END_IP_DECIMAL >= B.END_IP_DECIMAL 
		WHERE A.PLAN_STATUS > 1 
		  AND A.POOL_ID = #{poolId}
	]]>	
		  <if test="cityId!=null">
		  	AND A.CITY_ID = #{cityId}
		  </if>
		GROUP BY A.SUBNET_ID,
		  A.SUBNET_DESC,
		  A.NETMASK,
		  A.BEGIN_IP,
		  A.END_IP 
	</select>
	
	<select id="selectPoolStatByCity" parameterType="java.lang.String" resultType="map">
		<if test="cityId!=999">
		SELECT 
		  T1.POOL_ID,
		  T1.POOL_NAME,
		  IFNULL(SUM(T2.IP_COUNT),0) AS IP_COUNT,
		  IFNULL(SUM(T2.IP_KEEP_COUNT),0) AS KEEP_COUNT,
		  IFNULL(SUM(T2.IP_USE_COUNT),0) AS USE_COUNT 
		FROM
		  ${SCHEMA_BASE}.ip_pool_conf T1 
		  LEFT OUTER JOIN 
		    (SELECT 
		      * 
		    FROM
		      ${SCHEMA_BASE}.vw_subnet_stat T 
		    WHERE T.CITY_ID = #{cityId} 
		      AND T.SUBNET_COUNT = 0 AND T.PLAN_STATUS=3) T2 
		    ON T1.POOL_ID = T2.POOL_ID 
		WHERE T1.IS_PLAN_CITY = 1 
		GROUP BY T1.POOL_ID,
		  T1.POOL_NAME 
		ORDER BY T1.SORT_INDEX 
		</if>
		<if test="cityId==999">
		SELECT 
		  T1.POOL_ID,
		  T1.POOL_NAME,
		  IFNULL(SUM(T2.IP_COUNT),0) AS IP_COUNT,
		  IFNULL(SUM(T2.IP_KEEP_COUNT),0) AS KEEP_COUNT,
		  IFNULL(SUM(T2.IP_USE_COUNT),0) AS USE_COUNT 
		FROM
		  ${SCHEMA_BASE}.IP_POOL_CONF T1 
		  LEFT OUTER JOIN 
		    (SELECT 
		      * 
		    FROM
		      ${SCHEMA_BASE}.VW_SUBNET_STAT T 
		    WHERE (T.CITY_ID = '-1' OR T.CITY_ID IS NULL)
		      AND T.SUBNET_COUNT = 0 AND T.PLAN_STATUS=3) T2 
		    ON T1.POOL_ID = T2.POOL_ID 
		WHERE T1.IS_PLAN_CITY = -1 
		GROUP BY T1.POOL_ID,
		  T1.POOL_NAME 
		ORDER BY T1.SORT_INDEX 
		</if>
	</select>	
</mapper>