<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 表别名 -->
	<typeAliases>
	</typeAliases>
	<typeHandlers>
	</typeHandlers>	
	<plugins>
		<plugin
			interceptor="com.langnatech.core.extend.pagination.PaginationInterceptor">
		</plugin>
	</plugins>
</configuration>