/**css reset start**/
html {margin: 0; padding: 0; border: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, q, dl, dt, dd, ol, ul, li, fieldset, form, legend, caption, tbody, tfoot, thead, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin: 0; padding: 0; font-size: 14px; vertical-align: baseline; border: 0; }
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display: block; }
body {font-family: 'Microsoft YaHei','simsun','Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 14px; color: #737C93; background: #fff;}
img {vertical-align: bottom; border: 0;}
::-webkit-input-placeholder {color: #999; }
:-moz-placeholder {color: #999; }
::-moz-placeholder {color: #999; }
:-ms-input-placeholder {color: #ccc; }
* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before,
*:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
button::-moz-focus-inner, input::-moz-focus-inner {padding: 0; border: 0; }
textarea {overflow: auto; }
input:focus, textarea:focus, button:focus, select:focus {outline: none; }
input::-ms-clear {display: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block; }
audio, canvas, progress, video {display: inline-block; vertical-align: baseline; }
audio:not([controls]) {display: none; height: 0; } [hidden],
template {display: none; }
a {background: transparent; color:#337ab7;text-decoration: none;}
a:active, a:hover {outline: 0; }
a:focus {outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
abbr[title] {border-bottom: 1px dotted; }
b, strong {font-weight: bold; }
dfn {font-style: italic; }
mark {color: #000; background: #ff0; }
small {font-size: 80%; }
sub, sup {position: relative; font-size: 75%; line-height: 0; vertical-align: baseline; }
sup {top: -.5em; }
sub {bottom: -.25em; }
svg:not(:root) {overflow: hidden; }
figure {margin: 1em 40px; }
hr {-moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
pre {overflow: auto; }
code, kbd, pre, samp {font-family: monospace, monospace; font-size: 1em; }
button, input, optgroup, select, textarea {margin: 0; font: inherit; }
button {overflow: visible; }
button, select {text-transform: none; }
button, html input[type='button'], input[type='reset'], input[type='submit'] {cursor: pointer; -webkit-appearance: button; }
button[disabled], html input[disabled] {cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner {padding: 0; border: 0; }
input {line-height: normal; }
input[type='checkbox'], input[type='radio'] {box-sizing: border-box; padding: 0; }
input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {height: auto; }
input[type='search'] {-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; -webkit-appearance: textfield; }
input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {-webkit-appearance: none; }
fieldset {margin: 0 2px; padding: .35em .625em .75em; border: 1px solid #c0c0c0; }
legend {padding: 0; border: 0; }
optgroup {font-weight: bold; }
table {border-spacing: 0; border-collapse: collapse; }
td, th {padding: 0; }
ol,ul{list-style: none;}
/**css reset end**/

/**css common start**/
div.aui-heightauto
{
    height: auto;
}
div.aui-fixed
{
    position: fixed;
}
div.aui-noborder
{
    border: 0;
}
div.aui-nopadding
{
    padding: 0;
}
div.aui-nomargin
{
    margin: 0;
}
.aui-float-left
{
    float: left;
}
.aui-float-right
{
    float: right;
}
.fn-hide {
    display:none;
}
.aui-clear{
	visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
	zoom:1;
}
.aui-p{
	margin-bottom:15px;
}
/**css common end**/

/**css aui-dimpanel start**/
.aui-dimpanel
{
    position: relative;
    overflow: hidden;
    height: 50px;
    *height:40px;
    padding: 5px 15px;
    border-bottom: 1px solid #dde1e8;
    background: #eef1f6;
    -moz-box-shadow: 0 1px 1px rgba(221,225,232,.05);
         box-shadow: 0 1px 1px rgba(221,225,232,.05);

    -webkit-border-shadow: 0 1px 1px rgba(221,225,232,.05);
}
.aui-dimpanel:before,
.aui-dimpanel:after
{
    display: block;
    clear: both;
    content: '';
}
.aui-dimpanel-item
{
    float: left;
    height: 40px;
    line-height: 40px;
}

.aui-dimpanel-item
{
    margin-left: 15px;
}
.aui-dimpanel-item:first-child{
	margin-left:0;
}

.aui-dimpanel-func
{
    position: absolute;
    top: 8px;
    right: 6px;
}

.aui-dimpanel-item label
{
    display: inline-block;
    float: left;
}
.aui-dimpanel-connector
{
    float: left;
    padding: 0 4px;
    line-height: 40px;
}
.aui-dimpanel-item input
{
    display: inline-block;
    overflow: hidden;
    width: auto;
    min-width: 120px;
    height: 30px;
    margin-top: 6px;
    padding: 0 6px;
    line-height: 30px;
    color: #999;
    border: 1px solid #cbd5dd;
    border-radius: 2px;
    outline: none;
}
.aui-dimpanel-item input:hover,
.aui-dimpanel-item input:focus
{
    border-color: #31485a;
    outline: 0;
    box-shadow: none;
}
/**css aui-dimpanel end**/
/**css aui-dimsel start**/
.aui-dimsel
{
    float: left;
    width: 120px;
    height: 30px;
    margin-top: 5px;
}
.aui-dimsel ul
{
	display: none;
}
.aui-dimsel .aui-dimsel-txt
{
    position: relative;
    display: block;
    overflow: hidden;
    height: 30px;
    padding: 0 40px 0 5px;
    line-height: 30px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-decoration: none;
    color: #999;
    border: 1px solid #cbd5dd;
    border-radius: 2px;
    background: #fff;
    background-color: #fff;
    background-image: url('images/aui-dimsel-bg.png');
    background-repeat: no-repeat;
    background-position: right -67px;

    -khtml-user-select: none;
}
.aui-dimsel-txt input
{
    width: 100%;
    height: 100%;
    line-height: 100%;
    border: none;
    outline: none;
}
.aui-dimsel .aui-dimsel-txt:hover,
.aui-dimsel:hover .aui-dimsel-txt
{
    text-decoration: none;
    border-color: #31485a;
    background-position: right -95px;
}
/**维度选取弹出层**/
.aui-dimsel-panel
{
    position: absolute;
    z-index: 888;
    top: 30px;
    left: 0;
    display: none;
    width: 115px;
    padding: 5px;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.175);
            box-shadow: 0 2px 4px rgba(0,0,0,.175);
}
.aui-dimsel-items
{
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 150px;
    list-style: none;
}
.aui-dimsel-items li
{
    position: relative;
    overflow: hidden;
    padding: 0 10px;
    line-height: 35px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.aui-dimsel-items li:hover
{
    color: #fff;
    background-color: #66a8ef;
}
.aui-dimsel-items li.aui-dimsel-item-cursel
{
    color: #66a8ef;
}
.aui-dimsel-items li.aui-dimsel-item-cursel:hover
{
    color: #fff;
}
/**钻取小箭头**/
.aui-dimsel-items li:hover .aui-dimsel-item-drill
{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 30px;
    height: 100%;
    background-color: #0f6bb0;
    background-image: url('images/aui-dimsel-bg.png');
    background-position: 10px -303px;
}
.aui-dimsel-items li .aui-dimsel-item-drill:hover
{
    background-color: #0a4976;
}
/**维度选取弹出层  多选 **/
.aui-dimsel-multi .aui-dimsel-items li,
.aui-dimsel-multi .aui-dimsel-panel-cols .aui-dimsel-items li
{
    padding-left: 30px;
    background-image: url('images/aui-dimsel-bg.png');
    background-repeat: no-repeat;
    background-position: 5px -153px;
}
.aui-dimsel-multi .aui-dimsel-items li.aui-dimsel-item-cursel
{
    color: #66a8ef;
    background-color: #fff;
    background-position: 5px -125px;
}
.aui-dimsel-multi .aui-dimsel-items li.aui-dimsel-item-cursel:hover
{
    color: #fff;
    background-color: #66a8ef;
}
/**维度多列展示**/
.aui-dimsel-panel-cols .aui-dimsel-items li
{
    float: left;
    width: 75px;
    background-image: url('images/aui-dimsel-bg.png');
    background-repeat: no-repeat;
    background-position: 0 -208px;
}
.aui-dimsel-panel-cols .aui-dimsel-items li.aui-dimsel-item-noline
{
    background-image: none;
}
/**层级维度导航**/
.aui-dimsel-nav
{
    overflow: visible;
    height: 26px;
    margin: 5px;
    border-bottom: 2px solid #66a8ef;
}
.aui-dimsel-nav li
{
    position: relative;
    float: left;
    margin-right: 5px;
    padding: 0 20px 0 10px;
    line-height: 25px;
    cursor: pointer;
    border: 1px solid #cecece;
    border-bottom: none;
    /*right -268px**/
    background: #fff url('images/aui-dimsel-bg.png') right -326px no-repeat;
}
.aui-dimsel-nav li:hover
{
    color: #66a8ef;
    /*right -286px**/
    background-position: right -344px;
}
.aui-dimsel-nav li.aui-dimsel-nav-cursel
{
    line-height: 26px;
    border-width: 2px;
    border-color: #66a8ef;
    background-position: right -286px;
}
.aui-dimsel-nav li.aui-dimsel-nav-selectAll
{
    color: #66a8ef;
    border: none;
    background: none;
}
.aui-dimsel-nav li.aui-dimsel-nav-selectAll:hover
{
    text-decoration: underline;
}
/**维度提示信息**/
.aui-dimsel-tips
{
    overflow: hidden;
    height: 30px;
    margin-top: 5px;
    padding: 0 25px;
    line-height: 30px;
    color: #999;
    border-top: 1px dotted #ccc;
    background: #f9f9f9 url('images/aui-dimsel-bg.png') 5px -185px no-repeat;
}
.aui-dimsel-tabs
{
    display: inline-block;
    color: #666;
}
.aui-dimsel-tabs > li
{
    display: inline-block;
    height: 21px;
    margin-left: 10px;
    padding: 0 10px;
    line-height: 21px;
    cursor: pointer;
    border-radius: 2px;
}
.aui-dimsel-tabs > li.active,
.aui-dimsel-tabs > li:hover
{
    color: #fff;
    background-color: #66a8ef;
}
.aui-datesel
{
    position: relative;
    float: left;
    width: 120px;
    height: 26px;
    margin-top: 6px;
}
.aui-datesel .aui-datesel-txt
{
    position: relative;
    display: block;
    overflow: hidden;
    height: 30px;
    padding: 0 40px 0 5px;
    line-height: 30px;
    text-decoration: none;
    color: #999;
    border: 1px solid #cbd5dd;
    border-radius: 2px;
    background: #fff;
    background-color: #fff;
    background-image: url('images/aui-dimsel-bg.png');
    background-repeat: no-repeat;
    background-position: right -67px;
}
.aui-datesel .aui-datesel-txt:hover,
.aui-datesel:hover .aui-datesel-txt
{
    text-decoration: none;
    border-color: #31485a;
    background-position: right -95px;
}
/**维度选取框 日期选取**/
.aui-datesel .aui-datesel-txt
{
    background-position: right 0;
}
.aui-datesel .aui-datesel-txt:hover
{
    background-position: right -28px;
}
/**css aui-dimsel end**/
/**css aui-panel start**/
.aui-panel
{
    margin: 15px;
    /**
    border: 1px solid #e9e9e9;
    border-radius: 2px;
    **/
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.aui-panel-heading
{
    position: relative;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    text-transform: uppercase;
    color: #656e81;
    border-bottom: 1px solid #dde1e8;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    background-color: #eef1f6;
}
.aui-panel-title
{
    display: inline;
}
.aui-panel-func
{
    position: absolute;
    top: 0;
    right: 15px;
}

.aui-panel-body
{
    overflow: hidden;
    padding: 15px;
}


.aui-panel .aui-float-left
{
    width: 25%;
}
.aui-panel .aui-float-right
{
    width: 70%;
}
.aui-panel-footer {
  background-color: #f7f8fa;
  padding: 20px 20px;
  border-top: 1px solid #d2d3d6;
  color: #d2d3d6;
}
.aui-panel-footer:after{
display: block;
    clear: both;
    content: '';
}
/**css aui-panel end**/

/**css aui-table strat**/
.aui-table
{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.aui-table > tbody > tr > td,
.aui-table > tbody > tr > th,
.aui-table > tfoot > tr > td,
.aui-table > tfoot > tr > th,
.aui-table > thead > tr > td,
.aui-table > thead > tr > th
{
    padding: 10px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.aui-table > thead > tr > th
{
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.aui-table > caption + thead > tr:first-child > td,
.aui-table > caption + thead > tr:first-child > th,
.aui-table > colgroup + thead > tr:first-child > td,
.aui-table > colgroup + thead > tr:first-child > th,
.aui-table > thead:first-child > tr:first-child > td,
.aui-table > thead:first-child > tr:first-child > th
{
    border-top: 0;
}

.aui-table > tbody + tbody
{
    border-top: 2px solid #ddd;
}


.aui-table-bordered,
.aui-table-bordered > tbody > tr > td,
.aui-table-bordered > tbody > tr > th,
.aui-table-bordered > tfoot > tr > td,
.aui-table-bordered > tfoot > tr > th,
.aui-table-bordered > thead > tr > td,
.aui-table-bordered > thead > tr > th
{
    border: 1px solid #ddd;
}

.aui-table-bordered > thead > tr > td,
.aui-table-bordered > thead > tr > th
{
    border-bottom-width: 2px;
}

.aui-table-striped > tbody > tr:nth-child(odd) > td,
.aui-table-striped > tbody > tr:nth-child(odd) > th
{
    background-color: #f9f9f9;
}

.aui-table-hover > tbody > tr:hover > td,
.aui-table-hover > tbody > tr:hover > th
{
    background-color: #f5f5f5;
}

/**css aui-table end**/
/**css aui-tab start**/
.aui-tab-panel
{
    overflow: hidden;
    height: 40px;
    /**
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    **/
    background-color: #eef1f6;
}
.aui-tab-item
{
    position: relative;
    display: block;
    float: left;
}

.aui-tab-item a
{
    display: block;
    height: 40px;
    padding: 0 16px;
    line-height: 40px;
}

.aui-tab-item a span
{
    padding: 0 8px;
}

.aui-tab-item-cursel a,
.aui-tab-item a:hover
{
    top: 0;
    height: 40px;
    padding: 0 16px;
    text-decoration: none;
    border-bottom: none;
    background: #fff;
}

.aui-tab-item-cursel a span,
.aui-tab-item a:hover span
{
    padding: 0 7px;
    font-weight: bold;
}

.aui-tab-page
{
    border-bottom: 1px solid #d0d7dc;
}
.aui-tab-page li
{
    top: 0;
    padding: 0;
}
.aui-tab-page .aui-tab-item a span
{
    padding: 0;
}

.aui-tab-page .aui-tab-item-cursel a,
.aui-tab-page .aui-tab-item a:hover
{
    height: 40px;
    text-decoration: none;
    border: none;
    background-color: transparent;
    background-image: url('images/ailk.ui-tabs-bottombg.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.aui-tab-page .aui-tab-item-cursel a span,
.aui-tab-page .aui-tab-item a:hover span
{
    color: #66a7f4;
    border: none;
}
/**css aui-tab end**/
/**css aui-breadcrumb start**/
.aui-breadcrumb
{
    margin-bottom: 20px;
    padding: 8px 15px;
    list-style: none;
    /**border-radius: 2px;**/
    background-color: #fff;
}

.aui-breadcrumb > li
{
    display: inline-block;
}

.aui-breadcrumb > li a
{
	color: #337ab7;
}

.aui-breadcrumb > li a:hover
{
	text-decoration: underline;
}

.aui-breadcrumb > li + li:before
{
    padding: 0 5px;
    content: '/\00a0';
    color: #e9e9e9;
}

.aui-breadcrumb > .active
{
    color: #999;
}
/**css aui-breadcrumb end**/
/** css aui-pagination start**/
.aui-pagination
{
    display: inline-block;
    margin: 20px 0;
    padding-left: 0;
    border-radius: 2px;
}
.aui-pagination:before,
.aui-pagination:after
{
    display: block;
    clear: both;
    content: '';
}
.aui-pagination > li
{
    display: inline;
}
.aui-pagination > .disabled > a,
.aui-pagination > .disabled > a:hover,
.aui-pagination > .disabled > a:focus
{
    cursor: not-allowed;
    color: #999;
    border-color: #f6f6f6;
    background-color: #f6f6f6;
}
.aui-pagination > li > a
{
    position: relative;
    float: left;
    margin-left: 1px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #333;
    border: 1px solid #eef1f6;
    background-color: #eef1f6;
}
.aui-pagination > li:first-child > a
{
    margin-left: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.aui-pagination > .active > a,
.aui-pagination > .active > a:hover,
.aui-pagination > .active > a:focus
{
    z-index: 2;
    cursor: default;
    color: #fff;
    border-color: #11b1ed;
    background-color: #11b1ed;
}
.aui-pagination > li > a:hover,
.aui-pagination > li > a:focus
{
    color: #fff;
    border-color: #11b1ed;
    background-color: #11b1ed;
}
/** css aui-pagination end**/
/** css aui-btn start**/
.aui-btn
{
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color: #fff;
    border: 1px solid transparent;
    border-color: #11b1ed;
    border-radius: 2px;
    background-color: #11b1ed;
    background-image: none;
}
.aui-btn-icon
{
    border-color: #bbb7b0;
    background-color: #bbb7b0;
}

.aui-btn:focus,
.aui-btn:hover,
.aui-btn:active
{
    text-decoration: none;
    color: #fff;
    outline: 0;
    background-color: #0f9ace;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(15,154,206,.125);
            box-shadow: inset 0 3px 5px rgba(15,154,206,.125);
}
.aui-btn-icon:focus,
.aui-btn-icon:hover,
.aui-btn-icon:active
{
    text-decoration: none;
    color: #fff;
    outline: 0;
    background-color: #ada9a0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(173,169,160,.125);
            box-shadow: inset 0 3px 5px rgba(173,169,160,.125);
}


.aui-btn.disabled,
.aui-btn[disabled]
{
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    -webkit-box-shadow: none;
            box-shadow: none;

    filter: alpha(opacity=65);
}
.aui-btn-xs
{
    min-width: 80px;
}
.aui-btn-sm
{
    min-width: 100px;
}
.aui-btn-md
{
    min-width: 120px;
}
.aui-btn-lg
{
    min-width: 150px;
}
/** css aui-btn end**/
/** css aui-grid start**/
.aui-grid
{
    width: 100%;
}

    .aui-grid-1,
    .aui-grid-10,
    .aui-grid-11,
    .aui-grid-12,
    .aui-grid-2,
    .aui-grid-3,
    .aui-grid-4,
    .aui-grid-5,
    .aui-grid-6,
    .aui-grid-7,
    .aui-grid-8,
    .aui-grid-9
    {
    display:inline;
        float: left;
        padding: 0 5px;
    }
    .aui-panel-grid .aui-grid-3
    {
        padding-left: 0;
    }
    .aui-panel-grid .aui-grid-9
    {
        padding-right: 0;
    }
    .aui-grid-1
    {
        width: 8.33333%;
    }

    .aui-grid-2
    {
        width: 16.66667%;
    }

    .aui-grid-3
    {
        width: 25%;
    }

    .aui-grid-4
    {
        width: 33.33333%;
    }

    .aui-grid-5
    {
        width: 41.66667%;
    }

    .aui-grid-6
    {
        width: 50%;
    }

    .aui-grid-7
    {
        width: 58.33333%;
    }

    .aui-grid-8
    {
        width: 66.66667%;
    }

    .aui-grid-9
    {
        width: 75%;
    }

    .aui-grid-10
    {
        width: 83.33333%;
    }

    .aui-grid-11
    {
        width: 91.66667%;
    }

    .aui-grid-12
    {
        width: 100%;
    }
    .aui-grid-offset-1
    {
        margin-left: 8.33333%;
    }

    .aui-grid-offset-2
    {
        margin-left: 16.66667%;
    }

    .aui-grid-offset-3
    {
        margin-left: 25%;
    }

    .aui-grid-offset-4
    {
        margin-left: 33.33333%;
    }

    .aui-grid-offset-5
    {
        margin-left: 41.66667%;
    }

    .aui-grid-offset-6
    {
        margin-left: 50%;
    }

    .aui-grid-offset-7
    {
        margin-left: 58.33333%;
    }

    .aui-grid-offset-8
    {
        margin-left: 66.66667%;
    }

    .aui-grid-offset-9
    {
        margin-left: 75%;
    }

    .aui-grid-offset-10
    {
        margin-left: 83.33333%;
    }

    .aui-grid-offset-11
    {
        margin-left: 91.66667%;
    }

    .aui-grid-offset-12
    {
        margin-left: 100%;
    }
 .aui-panel-grid{
 overflow:hidden;
 min-width:600px;
 background-color:#fff;
 }
 .aui-panel-grid .aui-tab-item{
 width:120px;
 white-space:nowrap; 
text-overflow:ellipsis; 
-o-text-overflow:ellipsis; 
overflow:hidden;
 }
  .aui-panel-grid .aui-left{
    float:left;
    width:240px;
  }
  .aui-panel-grid .aui-right{
    float:right;
    width:890px;
    
  }
 .aui-panel-grid
/**css aui-grid end**/
/**css aui-from start**/
.aui-form
{
    margin: 15px 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #666;
}
.aui-form:before,
.aui-form-horizontal:after
{
    display: block;
    clear: both;
    content: '';
}
.aui-form-item
{
    margin-right: -15px;
    margin-bottom: 15px;
    margin-left: -15px;
    zoom:1;
}
.aui-form-item:before,
.aui-form-item:after
{
    display: block;
    clear: both;
    content: '';
}
.aui-label
{
    display: inline-block;
    zoom: 1;
    margin-bottom: 0;
    padding-top: 8px;
    padding-right: 10px;
    *padding-right:20px;
    text-align: right;
}
.aui-checkbox{
	height: 16px;
	width: 16px;
	vertical-align: text-top;
	cursor: pointer;
	opacity: 0.5;
}
.aui-checkbox:hover{
	opacity:1;
}
.aui-input
{
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
    border-width: 1px;
    color: #626262;
    border: 1px solid #cbd5dd;
    border-radius: 2px;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: none;
}
.aui-input[disabled],
.aui-input[readonly]
{
    cursor: not-allowed;
    background-color: #edeef0;
}
textarea.aui-input
{
    height: auto;
}
.aui-input:focus
{
    border-color: #31485a;
    outline: 0;
    box-shadow: none;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);*/
}
.aui-input::-moz-placeholder
{
    opacity: 1;
    color: #999;
}

.aui-input:-ms-input-placeholder
{
    color: #999;
}

.aui-input::-webkit-input-placeholder
{
    color: #999;
}

.aui-input-control[disabled],
.aui-input-control[readonly],
fieldset[disabled] .aui-input-control
{
    cursor: not-allowed;
    opacity: 1;
    background-color: #eee;
}
.aui-radio{
	margin:10px 10px 10px 0px;
}
.aui-form .aui-label{
	float:left;
	width:25%;
}
.aui-form .form-control{
	float:left;
	width:70%;
	*width:65%;
}
/**css aui-form end**/
/**css aui-popup start**/


.aui-popup-wrap .fancybox-skin
{
    background: #31485a;
}

.aui-popup-wrap .fancybox-outer
{
    padding: 10px;
    background: #d9d9d9;
}

.aui-popup-wrap .fancybox-inner
{
    background: #fff;
}

.aui-popup-title
{
    float: left;
    height: 40px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #fff;
}

.aui-popup-close
{
    position: absolute;
    z-index: 99999;
    top: 3px;
    right: 2px;
    float: right;
    width: 30px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    text-align: center;
    background: url(images/aui-popup-close.png);
}
a.aui-popup-close:hover
{
    text-decoration: none;
    background: url(images/aui-popup-close.png) 0 -30px;
}
a.aui-popup-close
{
    color: #fff;
}

/* .aui-popup-close:hover {
    background: url(images/aui-popup-close.png) 0 -30px;
    text-decoration: none;
} */
/**css aui-popup end**/

/**css ipms-filtrate start**/
.aui-filtrate
{
    overflow: hidden;
    /*display: none;*/
    width: 100%;
    border: 1px solid #e3e4e8;
    border-top: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.aui-filtrate-item
{
    position: relative;
    overflow: hidden;
    color: #666;
    border-bottom: 1px dashed #e6e6e6;
}
.aui-filtrate-item:last-child
{
    border: 0;
}
.aui-filtrate-item dt
{
    float: left;
    overflow: hidden;
    width: 10%;
    height: 39px;
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 39px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    text-indent: 10px;
    text-overflow: ellipsis;
}

.aui-filtrate-item dd
{
    float: left;
    overflow: hidden;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 80%;
    height: 39px;
    padding: 0 15px;
    font-size: 0;
    line-height: 39px;
    border-left: 1px solid #e2e6e9;
}
.aui-filtrate-item dd span
{
    display: inline-block;
    height: 20px;
    padding: 1px 20px 1px 4px;
    font-size: 12px;
    line-height: 20px;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    color: #666;
}
.aui-filtrate dl.multiple dd
{
    overflow: auto;
    width: 90%;
    height: 79px;
    padding-bottom: 40px;
    background-color: #efeceb;
}
.aui-filtrate dl.multiple .aui-filtrate-func
{
    position: relative;
    float: right;
    margin-top: -40px;
    margin-right: 42%;
}
.aui-filtrate dl.multiple .aui-filtrate-func a
{
    margin-left: 5px;
    padding: 0 6px;
    border: 1px solid #ccc;
    background-color: #fafafa;
}
.aui-filtrate dl.multiple .aui-filtrate-func a.disabled
{
    background-color: #f2f2f2;
}
.aui-filtrate dl.multiple .aui-filtrate-func a.disabled:hover
{
    cursor: default;
    background-color: #f2f2f2;
}
.aui-filtrate dl.multiple .aui-filtrate-func a:hover
{
    background-color: #fefefe;
}
.aui-filtrate dl.multiple dd span
{
    padding-left: 20px;
    background-image: url(images/ailk.ui-icons.png);
    background-repeat: no-repeat;
    background-position: -725px -148px;
}
.aui-filtrate dl.multiple dd span.selected
{
    background-position: -725px -337px;
}
.aui-filtrate-item dd span.selected,
.aui-filtrate-item dd span:hover
{
    cursor: pointer;
    color: #66a8ef;
}
.aui-filtrate-func
{
    position: absolute;
    top: 0;
    right: 10px;
    height: 39px;
    line-height: 39px;
}
.aui-filtrate-func a
{
    display: inline-block;
    height: 20px;
    padding-right: 2px;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
    text-decoration: none;
    color: #666;
}
.aui-filtrate-func a:last-child
{
    margin-left: 6px;
}
.aui-filtrate-func a:first-child
{
    margin-left: 0 !important;
}
.aui-filtrate-func a i
{
    float: left;
    height: 100%;
    padding: 0 22px 0 0;
    background-image: url(images/ailk.ui-icons.png);
    background-repeat: no-repeat;
}
.aui-filtrate-func a.multiple
{
    border: 1px solid #f2f0ef;
    background-color: #f2f0ef;
}
.aui-filtrate-func a.filtrate
{
    height: 25px;
    padding: 0 6px;
    line-height: 23px;
    color: #fff;
    border-radius: 1px;
    background-color: #0a4879;
}
.aui-filtrate-func a.filtrate i
{
    background-position: 0 -452px;
}
.aui-filtrate-func a.filtrate:active
{
    position: relative;
    top: 1px;
    box-shadow: 1px 1px 3px #999 inset;
}
.aui-filtrate-func a.filtrate:hover
{
    color: #fff;
    background-color: #0e63a9;
}
.aui-filtrate-func a.multiple:hover
{
    border: 1px solid #e2e6e9;
}
.aui-filtrate-func a.multiple i
{
    background-position: -688px 0;
}
.aui-filtrate-func a.more-raise i
{
    background-position: -650px -37px;
}
.aui-filtrate-func a.more-drop i
{
    background-position: -612px -37px;
}
.aui-filtrate-func-float
{
    position: relative;
    float: right;
}
.aui-filtrate-func .clear-selected
{
    padding-right: 0;
    vertical-align: -webkit-baseline-middle;
}
.aui-filtrate-func .clear-selected:hover
{
    color: #66a8ef;
}
/**已选区域部分**/
.aui-filtrate-item:first-child dd
{
    width: 82%;
    height: auto;
}
.selected-list
{
    width: auto;
    height: auto;
}
.selected-list-item
{
    display: none;
    height: 23px;
    margin: 0 3px;
    padding: 0 5px;
    line-height: 22px;
    cursor: pointer;
    vertical-align: middle;
    border: 1px dotted #66a8ef;
}
.selected-list-item:hover
{
    border: 1px solid #66a8ef;
}
.selected-list-item label
{
    display: inline-block;
    width: auto;
    margin-left: 2px;
    font-size: 12px;
    cursor: pointer;
}
.selected-list > .selected-list-item > span
{
    display: inline-block;
    width: auto;
    padding: 0;
    cursor: pointer;
    color: #66a8ef;
}
.aui-filtrate-item > dd > .selected-list > .selected-list-item > span
{
    height: auto;
    padding: 0;
    padding-right: 3px;
    padding-left: 3px;
    vertical-align: top;
}
.selected-list-item i
{
    display: inline-block;
    height: 15px;
    margin-left: 2px;
    padding-right: 8px;
    cursor: pointer;
    background: url(images/ailk.ui-icons.png) no-repeat -114px -335px;
}
.aui-filtrate-search
{
    position: absolute;
    top: 10px;
    left: 12%;
    display: none;
    width: 208px;
    height: 28px;
    border: 1px solid #e6e8e9;
    border-radius: 1px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.aui-filtrate-search input
{
    float: left;
    width: 166px;
    margin: 2px 0;
    padding: 3px 5px;
    font-size: 12px;
    line-height: 16px;
    border: 0;
    border-right: 1px solid #edf0f2;
    outline: none;
}
.aui-filtrate-search a
{
    float: right;
    width: 31px;
    height: 28px;
    background: url(images/ailk.ui-icons.png) no-repeat -681px -147px;
}
.aui-filtrate-search.focus
{
    border: 1px solid #2ea7e0;
}
.aui-filtrate-search.focus input
{
    border-right: 0;
}
.aui-filtrate-search.focus a
{
    background-color: #2ea7e0;
    background-position: -681px -336px;
}
.aui-dimpanel-func.filtrate > a:first-child
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.aui-dimpanel-func.filtrate > a:last-child
{
    width: 30px;
    margin-left: -6px;
    padding: 0;
    border-left: 1px solid #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.aui-dimpanel-func.filtrate > a:last-child > span
{
    margin-right: 9px;
}
.aui-dimpanel-func.filter
{
    right: 0;
}
.aui-dimpanel-func.filter > a:last-child
{
    display: inline-block;
    height: 28px;
    margin-left: 5px;
    padding: 0 7px;
    line-height: 28px;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    color: #666;
    border-left: 1px solid #fff;
}
.aui-dimpanel-func.filter > a:last-child:hover
{
    color: #66a8ef;
}
.aui-dimpanel-func.filter > a > i
{
    float: right;
    height: 100%;
    padding: 0 22px 0 0;
    background-image: url(images/ailk.ui-icons.png);
    background-repeat: no-repeat;
}
.aui-dimpanel-func.filter > a > i.drop
{
    background-position: -457px -33px;
}
.aui-dimpanel-func.filter > a > i.raise
{
    background-position: -493px -33px;
}
.aui-dimpanel-func.filter > a:hover > i.drop
{
    background-position: -457px -223px;
}
.aui-dimpanel-func.filter > a:hover > i.raise
{
    background-position: -493px -223px;
}
/**css ipms-filtrate end**/
.aui-confirm{
}
.aui-confirm-overlay
{
    position: fixed;
    z-index: 1040;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: opacity .15s linear;
         -o-transition: opacity .15s linear;
            transition: opacity .15s linear;
    opacity: .7;
    background-color: #000;
}

.aui-confirm-box
{
    position: fixed;
    z-index: 1050;
    top: 50%;
    left: 50%;
    width: 430px;
    margin: -130px 0 0 -230px;
    border: 1px solid rgba(33, 33, 33, .6);
    background: #fff;
    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, .6) inset;
       -moz-box-shadow: 0 0 2px rgba(255, 255, 255, .6) inset;
            box-shadow: 0 0 2px rgba(255, 255, 255, .6) inset;
}

.aui-confirm-box .title
{
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    background: #31485a;
}
.aui-confirm-box .content
{
    padding: 20px 25px 10px 20px;
    line-height: 1.4;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .6);
}

.aui-confirm-box .footer
{
    padding: 15px 15px;
    text-align: center;
}

.aui-confirm-box .aui-btn
{
    margin-right: 20px;
    padding: 6px 20px;
}

.aui-confirm-box .aui-btn:last-child
{
    margin-right: 0;
}

.aui-confirm-box .aui-btn.gray
{
    border: 1px solid #ddd;
    background: #ddd;
}
.aui-confirm-box .aui-btn.gray:hover
{
    text-decoration: none;
    color: #fff;
    background-color: #ada9a0;
    -webkit-box-shadow: inset 0 3px 5px rgba(173,169,160,.125);
            box-shadow: inset 0 3px 5px rgba(173,169,160,.125);
}
.aui-prop-grid th {
    text-align: right;
    white-space: nowrap;
    width: 130px;
    height: 25px; padding-left : 30px;
    padding-right: 15px;
    vertical-align: top;
    border-bottom: none;
    border-right: 1px solid #dddddd;
    font-weight: bold;
    padding-left: 30px;
}

.aui-prop-grid th, .aui-prop-grid td {
    padding: 1px 10px !important;
}

.aui-prop-grid  span.indi {
    color: #428bca;
}

.aui-prop-grid a {
    color: #428bca;
}

.aui-prop-grid a:hover, a:active {
    text-decoration: underline;
}

.aui-loading-page{
    display:none;
    position:fixed;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-repeat: no-repeat;
    background-image: url(images/aui-loading-page.gif);
    background-position:20px;
    text-align:center;
    background-color:#000; 
    z-index:9999;
    color:#fff;
}
.aui-loading-popup{
    display:block;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -75px;
}
.aui-loading-page span{
    vertical-align:middle;
    margin-left: 50px;
}


/**css modules-portal strat**/
#page-header
{
    position: fixed;
    *position:relative;
    *height:55px;
    z-index: 630;
    top: 0;
    right: 0;
    left: 0;
    zoom: 1;
    min-height: 55px;
    color: #cbd1d5;
    background-color: #31485a;
}
#page-header > .logo
{
    float: left;
    height: 55px;
    padding: 10px;
    padding-right: 5px;
}
#page-header > .logo > a
{
    display: block;
    width: 106px;
    height: 36px;
    font: 0/0 a;
    color: transparent;
    background: url(images/ipms-icon.png) 0 -160px no-repeat;
    background-color: transparent;
    text-shadow: none;
}
#page-header > .binding
{
    float: left;
    height: 34px;
    margin-top: 9px;
    padding-left: 5px;
    border-left: 1px solid #c0bbb9;
}
#page-header > .binding > span
{
    display: block;
    overflow: hidden;
    width: 174px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#page-header > .binding > .binding-cn
{
    margin-top: -1px;
    font-size: 15px;
}
#page-header > .binding > .binding-en
{
    margin-top: -2px;
    font-size: 8px;
}
@media (max-width: 344px)
{
    #page-header > .binding
    {
        display: none;
    }
}

#page-header > .toggle-nav
{
    display: block;
    float: left !important;
    width: 40px;
    height: 40px;
    margin-top: 12px;
    cursor: pointer;
    background: url(images/ipms-icon.png) -150px 8px no-repeat;
}
#page-header .toggle-nav:hover
{
    background: url(images/ipms-icon.png) -150px -32px no-repeat;
}
#page-header > .header-func
{
    float: right;
    height: 55px;
    padding: 0 10px 0 10px;
    line-height: 55px;
}
#page-header > .header-func li >.icon-user{
	display: block;
    float: left !important;
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-top: 17px;
    margin-right: 10px;
    background: url(images/ipms-icon.png) -200px 0px no-repeat;
}
#page-header > .header-func li >.icon-lagout{
    display: block;
    float: left !important;
    width: 18px;
    height: 20px;
    cursor: pointer;
    margin-top: 17px;
    margin-right: 10px;
    background: url(images/ipms-icon.png) -240px 0px no-repeat;
}
#page-header > .header-func li >.icon-lagout:hover{
	background-position: -240px -40px;
}
#page-header > .header-func > li
{
    float: left;
    margin-right:20px;
}
#page-header:before,
#page-header:after
{
    display: block;
    clear: both;
    content: '';
}
/**page header end**/
#page-container
{
    overflow: hidden;
    zoom: 1;
    margin-top: 55px;
    *margin-top:0;
    background: #31485a;
}
#page-container .ipms-nav
{
    position: relative;
    float: left;
    width: 210px;
    white-space: nowrap;
}
@media (max-width: 768px)
{
    #page-container .ipms-nav
    {
        position: absolute;
        z-index: 1029;
        left: 0;
        overflow: hidden;
        width: 0;
        -webkit-transition: 250ms ease;
                transition: 250ms ease;
    }
    #page-container .ipms-content
    {
        margin-left: 0 !important;
    }
}
#page-container .ipms-nav:before,
#page-container .ipms-nav:after
{
    display: block;
    clear: both;
    content: '';
}
#ipms-sidebar
{
    padding-left: 0 !important;
    white-space: normal;
}
#ipms-sidebar i
{
    display: inline-block;
    height:18px;
    width:18px;
    margin: 0 8px 0 1px;
    text-align: center;
    color: #bac9da;
    vertical-align: sub;
    background-image:url(images/ipms-icon.png);
    background-repeat:no-repeat;
}
#ipms-sidebar i.icon-ipmgr{
	background-position:0px 0px;
}
#ipms-sidebar li.active i.icon-ipmgr,
#ipms-sidebar li:hover i.icon-ipmgr
{
	background-position:0px -40px;
}
#ipms-sidebar i.icon-sysmgr{
    background-position:-80px 0px;
}
#ipms-sidebar li.active i.icon-sysmgr,
#ipms-sidebar li:hover i.icon-sysmgr
{
    background-position:-80px -40px;
}
#ipms-sidebar i.icon-confmgr{
    background-position:-120px 0px;
}
#ipms-sidebar li.active i.icon-confmgr,
#ipms-sidebar li:hover i.icon-confmgr
{
    background-position:-120px -40px;
}
#ipms-sidebar i.icon-reportmgr{
    background-position:-40px 0px;
}
#ipms-sidebar li.active i.icon-reportmgr,
#ipms-sidebar li:hover i.icon-reportmgr
{
    background-position:-40px -40px;
}
#ipms-sidebar a
{
	font-style:normal;
    text-decoration: none;
}
#ipms-sidebar ul
{
    padding: 2px 0;
    padding-left: 0 !important;
}
#ipms-sidebar ul,
#ipms-sidebar ul li a
{
    color: #bac9da;
    box-shadow: inset -1px 0 0 0 rgba(0,0,0,.1);
}
#ipms-sidebar li.active i,
#ipms-sidebar li.active a:hover i
{
    color: #fff;
}
#ipms-sidebar li a
{
    position: relative;
    display: block;
    padding: 13px 10px 13px 15px;
    color: #bac9da;
}
#ipms-sidebar a:hover
{
    color: #fff;
    background-color: #283c4c;
    box-shadow: inset -1px 0 0 0 rgba(0,0,0,.1);
}
#ipms-sidebar a:hover i
{
    color: #fff;
}
#ipms-sidebar:hover > li
{
    border-top: 1px solid #283c4c;
}
#ipms-sidebar > li
{
    border-top: 1px solid transparent;
}
#ipms-sidebar > li.active > a
{
    color: #fff;
    background: #283c4c;
    box-shadow: inset -1px 0 0 0 rgba(0,0,0,.1);
}
#ipms-sidebar > li.active > a:after
{
    position: absolute;
    top: 50%;
    right: 0;
    width: 0;
    height: 0;
    margin-top: -9px;
    content: '';
    border-width: 9px 9px 9px 0;
    border-style: solid;
    border-color: transparent #d7dce4 transparent transparent;
}
#ipms-sidebar ul li a
{
    padding: 10px 10px 10px 43px;
}
#ipms-sidebar ul li.active:not(.open) > a
{
    font-weight: 600;
    color: #fff;
}
#ipms-sidebar li ul
{
    display: none;
}

#ipms-sidebar li.hasChild > a
{
    position: relative;
}
#ipms-sidebar li.hasChild > a:before,
#ipms-sidebar li.hasChild > a:after
{
    display: table;
    clear: both;
    content: ' ';
}

#ipms-sidebar:hover li.hasChild > a:before,
#ipms-sidebar:hover li.hasChild.open > a:before
{
    content: '\f105';
    opacity: .5;
    filter: alpha(opacity=50);
}
#ipms-sidebar:hover li.hasChild.open > a:before
{
    content: '\f107';
    opacity: .5;
    filter: alpha(opacity=50);
}

#ipms-sidebar li.hasChild > a:before,
#ipms-sidebar li.hasChild.open > a:before
{
    float: right;
    padding-right: 0;
    font-family: FontAwesome;
    font-size: 14px !important;
    font-weight: normal;
    font-style: normal;
    text-align: right;
    text-decoration: inherit;
}
#ipms-sidebar li.hasChild a:before
{
    top: 5px;
}



#page-container #ipms-collapse-nav
{
    width: 50px;
}
#ipms-collapse-nav #ipms-sidebar > li
{
    position: relative;
    z-index: 999;
    white-space: nowrap;
}
#ipms-collapse-nav #ipms-sidebar > li span
{
    display: none;
}
#ipms-collapse-nav #ipms-sidebar > li > ul
{
    position: absolute;
    top: 40px;
    left: 50px;
    width: 180px;
}
#ipms-collapse-nav #ipms-sidebar > li:hover
{
    width: 230px;
    background-color: #283c4c;
}
#ipms-collapse-nav #ipms-sidebar > li:hover span
{
    display: none;
}
#ipms-collapse-nav #ipms-sidebar > li:hover > ul
{
    display: block;
    background-color: #283c4c;
}

#ipms-collapse-nav #ipms-sidebar:hover li.hasChild > a:before,
#ipms-collapse-nav #ipms-sidebar:hover li.hasChild.open > a:before
{
    display: none;
}

/**nav end**/
#page-container .ipms-content
{
    min-height: 650px;
    margin-left: 210px;
    padding-bottom: 30px;
    -webkit-transition: 250ms ease;
            transition: 250ms ease;
    background: #d7dce4;
    box-shadow: -1px 0 0 0 rgba(0,0,0,.1);
    overflow:hidden;
}


/**css modules-portal end**/

/**css ipms-error start**/
.ipms-error
{
    overflow: hidden;
    height: 100%;
    padding: 100px 200px;
    color: #7c9fbf;
}

.ipms-error-404
{
    height: 250px;
    padding: 90px 0 0 250px;
    background: url('images/ipms-error-404.png') no-repeat;
}

.ipms-error h1
{
    font-size: 16px;
    font-weight: bold;
}

.ipms-error ul
{
    margin: 10px 0;
}

.ipms-error li
{
    font-weight: bold;
    line-height: 25px;
    list-style: disc;
}

.ipms-error-back
{
    width: 55%;
    height: 30px;
    line-height: 30px;
    text-align: right;
}

.ipms-error-box
{
    overflow: hidden;
    height: 252px;
    padding: 50px 0 20px 200px;
    background: url('images/ipms-error-bg.png') left top no-repeat;
}

.ipms-error-type
{
    width: 60%;
    height: 38px;
}

._power
{
    background: url('images/ipms-error-code.png') 0 0 no-repeat;
}

._404
{
    background: url('images/ipms-error-code.png') 0 -57px no-repeat;
}

._500
{
    background: url('images/ipms-error-code.png') 0 -114px no-repeat;
}

.ipms-error-box h1
{
    overflow: inherit;
    width: 98%;
    min-width: 230px;
    height: auto;
    margin-top: 15px;
    letter-spacing: 1px;
    color: #666;
}

.ipms-error-box dl
{
    overflow: inherit;
    width: 60%;
    min-width: 370px;
    height: auto;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #666;
}

.ipms-error-box dt
{
    width: 90%;
    height: 20px;
    margin-top: 10px;
    line-height: 20px;
}

.ipms-error-box dt a
{
    font-size: 13px;
    text-decoration: underline;
    color: #333;
}

.ipms-error-box dt a:hover
{
    color: #66a8ef;
}

.ipms-error-box dd
{
    overflow: hidden;
    width: 90%;
    height: auto;
    margin-top: 5px;
}

.ipms-error-box dd span
{
    display: inline-block;
    width: 90%;
    height: 25px;
    padding-left: 15px;
    font-size: 13px;
    line-height: 25px;
    color: #333;
}
/**css ipms-error end**/

/**css 定制化 start**/
.aui-table .aui-label{
	padding:0;
}
.aui-table .aui-form-item{
	margin:0px;
}
.aui-table  .aui-form-item .aui-dimsel{
	margin:0px;
}
#ipms-splitTable>table>tbody>tr>td{
	height:30px;
	line-height:30px;
	text-align:center;
}
#ipms-splitTable{
	display:none;
	overflow:auto;
	height:200px;
}
.ipms-plan-func{
	position:absolute;
	right:20px;
	top:0px;
    padding: 20px 10px 10px 10px;
         opacity: .7;
    color: #fff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: #333;
    filter: alpha(opacity=70);
    -moz-opacity: .7;
    width:200px;
    text-align:center;
    display:none;
}
.ipms-plan-func .aui-form-item{
	margin-right:0;
	margin-left:0;
}
.ipms-plan-func .close{
	display:block;
	height:12px;
	width:12px;
	position:absolute;
	padding:2px 5px;
	border:1px solid #333;
	top:2px;
	right:5px;
	color:#fff;
	font-size:12px;
}
.filter-toggle{
position:absolute;top:15px; right:0px;
}
.filter-toggle li {
    float: left;
    text-align: center;
    padding: 0 10px;
    cursor: pointer;
}

.filter-toggle li.active {
    color: #fff;
    background-color: #6fb3e0;
    border: 1px solid #4a97ec;
}

.filter-toggle li:hover {
    color: #66a8ef;
}

.filter-toggle li.active:hover {
    color: #fff;
}
.label{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-planning{
    background-color: #337ab7;
}
.label-wait{
    background-color:#5cb85c;
}
.label-planned{
    background-color: #f0ad4e;
}
.label-keep{
    background-color: #FF3300;
}
.label-use{
    background-color: #FF3300;
}
/**css 定制化 end**/

.icon-subnet{
	background-image: url("images/icon-subnet.png");
	background-repeat: no-repeat;
	padding-left: 20px;
}
.icon-folder{
	background-image: url("images/icon-folder.png");
	background-repeat: no-repeat;
	padding-left: 20px;
}

.aui-center{
    text-align: center;
}
.box-info{
    color: #626262;
    padding: 20px 0px;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    border-radius: 2px;
    cursor: pointer;
}
.box-info:hover,.aui-panel.current{
	background-color:#eef1f6;
}
.size-h2{
    font-size: 30px;
}
.size-h4{
    font-size: 18px;
}
.text-muted{
    color: #777;
}
.box-info .text-muted{
    margin-top: 10px;
}

